// 2-color_variables.scss
$primary-text-color: #3D3D3D;
$primary-background-color: #6D6D6D;

body {
  color: $primary-text-color;
  background-color: $primary-background-color;
}

p {
  color: $primary-text-color;
}

h2 {
  background-color: $primary-background-color;
}